
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profilim</title>
</head>
<body>
    <h2>
        Profilim sayfası
    </h2>
</body>
</html>
